---
    import { Image } from 'astro:assets';
    import gitAvatar from '../images/github.png'
---

<div class="avatar">
    <div class="w-8 h-8 mt-2 aspect-square rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
        <Image src={gitAvatar} alt="My github profile picture."/>
    </div>
</div>