---
    import ThemeToggle from "./ThemeToggle.astro";
    import Navigation from "./Navigation.astro";
    import {MenuItems} from "../constants/menu-items";
    import Avatar from "./Avatar.astro";
---

<div class="flex flex-row justify-between pt-2 px-4 h-14">
    <Avatar/>
    <Navigation tabs={MenuItems}></Navigation>
    <ThemeToggle/>
</div>